{% extends 'common/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script type="text/javascript" defer src="{% static '/javascript/appStockAccount/SignUp.js' %}"></script>

<!------ Include the above in your HEAD tag ---------->


<script defer src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script defer src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

{% endblock %}